.aboutContainer {
  padding: 80px 5%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.aboutContent {
  flex: 1;
}

.aboutContent h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-left: 5px solid var(--color-primary); /* Detalhe elegante */
  padding-left: 15px;
}

.mainText {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.secondaryText {
  font-size: 1rem;
  color: #666;
}

.quoteBlock {
  flex: 1;
  max-width: 450px;
  padding: 30px;
  background-color: white; /* Contraste com o fundo light */
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.quote {
  font-style: italic;
  font-size: 1.1rem;
  color: var(--color-text-dark);
  margin-bottom: 15px;
  line-height: 1.5;
}

.quoteAuthor {
  display: block;
  text-align: right;
  font-weight: 700;
  color: var(--color-primary);
}

/* Responsividade */
@media (max-width: 1024px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }
  .aboutContent h2 {
    border-left: none;
    padding-left: 0;
  }
  .quoteBlock {
    max-width: 100%;
    margin-top: 30px;
  }
}